<section class="app-items each-item">
    <div class="one=ui">
        <img src="images/apps/new_gnb_banner_apps-oneui.jpg" alt="">
        <h3>One Ui</h3>
    </div>
    
    <div class="bix-by">
        <img src="images/apps/new_gnb_banner_apps-bixby.jpg" alt="">
        <h3>Bixby</h3>
    </div>

    <div class="samsung-dex">
        <img src="images/apps/new_gnb_banner_apps-samsung-dex.jpg" alt="">
        <h3>Samsung Dex</h3>
     </div>

     <div class="samsung-global-goals">
        <img src="images/apps/new_gnb_banner_apps-samsung-global-goals.jpg" alt="">
        <h3>Samsung Global Goals</h3>
     </div>

     <div class="samsung-health">
        <img src="images/apps/new_gnb_banner_apps-samsung-health.jpg" alt="">
        <h3>Samsung Health</h3>
     </div>

     <div class="samsung-pay">
        <img src="images/apps/new_gnb_banner_apps-samsung-pay.jpg" alt="">
        <h3>Samsung Pay</h3>
     </div>

     <div class="smart-things">
        <img src="images/apps/new_gnb_banner_apps-smartthings.jpg" alt="">
        <h3>SmartThings</h3>
     </div>

     <div class="samsung-pass">
        <img src="images/apps/new_gnb_banner_apps-samsung-pass.jpg" alt="">
        <h3>Samsung Pass</h3>
     </div>

     <div class="galaxy-theme">
        <img src="images/apps/new_gnb_banner_apps-galaxy-themes.jpg" alt="">
        <h3>Galaxy Themes</h3>
     </div>

     <div class="game-launcher">
        <img src="images/apps/new_gnb_banner_apps-game-launcher.jpg" alt="">
        <h3>Game Launcher</h3>
     </div>

     <div class="samsung-kids">
        <img src="images/apps/new_gnb_banner_apps-samsung_kids.jpg" alt="">
        <h3>Samsung Kids</h3>
     </div>

     <div class="galaxy-store">
        <img src="images/apps/new_gnb_banner_apps-galaxy-store.jpg" alt="">
        <h3>Galaxy Store</h3>
     </div>

     <div class="smart-call">
        <img src="images/apps/new_gnb_banner_apps-smart-call.jpg" alt="">
        <h3>Smart Call</h3>
     </div>

     <div class="find-my-mobile">
        <img src="images/apps/new_gnb_banner_apps-find-my-mobile.jpg" alt="">
        <h3>Find My Mobile</h3>
     </div>

     <div class="samsung-notes">
        <img src="images/apps/new_gnb_banner_apps-samsung-notes.jpg" alt="">
        <h3>Samsung Notes</h3>
     </div>

     <div class="pen-up">
        <img src="images/apps/new_gnb_banner_apps-penup.jpg" alt="">
        <h3>PENUP</h3>
     </div>

     <div class="smart-switch">
        <img src="images/apps/new_gnb_banner_apps-smart-switch.jpg" alt="">
        <h3>Smart Switch</h3>
     </div>

     <div class="samsung-members">
        <img src="images/apps/new_gnb_banner_apps-samsung-members.jpg" alt="">
        <h3>Samsung Members</h3>
     </div>

     <div class="samsung-cloud">
        <img src="images/apps/new_gnb_banner_apps-samsung-cloud.jpg" alt="">
        <h3>Samsung Cloud</h3>
     </div>

     <div class="samsung-internet">
        <img src="images/apps/new_gnb_banner_apps-samsung-internet.jpg" alt="">
        <h3>Samsung Internet</h3>
     </div>

     <div class="samsung-flow">
        <img src="images/apps/new_gnb_banner_apps-samsung-flow.jpg" alt="">
        <h3>Samsung Flow</h3>
     </div>

     <div class="samsung-blockchain">
        <img src="images/apps/new_gnb_banner_apps-samsung-blockchain.jpg" alt="">
        <h3>Samsung Blockchain</h3>
     </div>
        
</section>