<section class="campaign-items each-item">

    <div class="galaxy">
        <img src="images/campaigns/new_gnb_banner_campaigns_why-galaxy.jpg" alt="">
        <h3>Why Galaxy</h3>
        
    </div>
    
    <div class="power">
        <img src="images/campaigns/power-of-10-kv.jpg" alt="">
        <h3>Power of 10</h3>
    </div>

    <div class="secure">
        <img src="images/campaigns/security_kv.jpg" alt="">
        <h3>Security</h3>
    </div>
    
    <div class="ecosystem">
        <img src="images/campaigns/galaxy-ecosystem_kv_img.jpg" alt="">
        <h3>Galaxy Ecosystem</h3>
    </div>
</section>