<section class="campaign-items each-item">

    <div class="galaxy">
        <img src="images/campaigns/2021-why-galaxy-kv-mov.jpg" alt="">
        <h1>Why Galaxy <span class="smaller">Life opens up with Galaxy</span></h1>
        <h3>Why Galaxy</h3>
        
    </div>
    
    <div class="power">
        <img src="images/campaigns/power-of-10-kv.jpg" alt="">
        <h3>Power of 10</h3>
    </div>

    <div class="secure">
        <img src="images/campaigns/security_kv.jpg" alt="">
        <h3>Security</h3>
    </div>
    
    <div class="ecosystem">
        <img src="images/campaigns/galaxy-ecosystem_kv_img.png" alt="">
        <h3>Galaxy Ecosystem</h3>
    </div>
</section>